services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: gambar
      POSTGRES_PASSWORD: gambar
      POSTGRES_DB: gambar
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: